@import '../../styles/variables';
@import '../../styles/mixins';

.main-menu {
    @include flex-box__row;
    justify-content: flex-start;

    & > li {
        margin: 0px 0px 0px 1.15rem;

        &:first-child {
            margin: 0px
        }

        & > a {
            @include border-bottom-link(33,33,33,0.5);
            @include animation-link;
            font-size: 22px;
            line-height: 1.2;
            text-decoration: none;
        }
    }
}

// Burger menu
.bm-burger-button {
    display: none;
    position: absolute;
    width: 36px;
    height: 30px;
    right: 24px;
    top: 3rem;
  }
  
  .bm-burger-bars {
    background: $colorText;
  }
  
  .bm-burger-bars-hover {
    background: $colorLinkBlue;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu-wrap {
    position: fixed;
    top:0px;
    height: 100%;
  }
  
  .bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-morph-shape {
    fill: white;
  }
  
  .bm-item-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #b8b7ad;
  }
  
  .bm-item-list a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }
  
  .bm-item {
    display: inline-block;
    padding: 0.2rem;
  }
  
  .bm-overlay {
    background: rgba(228, 106, 72, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    top: 0px;
  }

  @media screen and (max-width: 900px) {
    .main-menu {
        display: none;
    }
    .bm-burger-button {
        display: inline-block;
    }
    .navbar-control {
        padding: 0 1.5rem 0 1.5rem;
    }
    .navbar-control .btn {
        padding: 0.5rem 0.9rem;
        font-weight: 400;
        font-size: 0.9rem;
    }
  }