@import '../../styles/variables';
@import '../../styles/mixins';

.features {
    &-section {
        @include flex-box__row;
        justify-content: space-around;
        margin: 6.625rem auto 7rem;
        max-width: 1200px;
    }

    &__item {
        text-align: center;
        margin: 0px 1rem;
    }

    &__ico {
        min-height: 87px;
    }

    &__name {
        margin: 1.75rem 0px 0px;
        font-size: 25px;
    }

    @media (max-width:1000px) {
        &-section {
            margin: 3.5rem auto;
        }
    }

    @media (max-width:640px) {
        &__ico {
            min-height: auto;
            max-height: 64px;

            > img {
                height: 64px;
            }
        }

        &__name {
            font-size: 20px;
        }
    }
}