@import '../../styles/variables';
@import '../../styles/mixins';

.banner-shop {
    @include border-radius-xl;
    border: 1px solid #E2E0DF;
    background-position: right center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: right;

    &__row {
        margin: 2.5rem 0px 0px;
        
        &:first-child {
            margin: 0px;
        }
    }

    &__image {
        display: inline-block;
        vertical-align: middle;
    }

    &__content {
        @include flex-box__column;
        @include animation-link;
        justify-content: center;
        color: $colorText;
        text-align: left;
        line-height: 1;
        //background-color: $colorTextWhite;
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.6) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.6) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        padding: 4rem 4.65rem;
        box-sizing: border-box;
        max-width: 1184px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;;
        height: 100%;

        &-restrict {
            max-width: 600px;
        }
    }

    &__title {
        font-size: 35px;
        line-height: 1.2;
        font-weight: bold;
    }

    &__info {
        font-size: 22px;
        line-height: 1.25;
    }

    .button-lnk {
        max-width: 320px;
        width: 100%;
        font-size: 22px;
        line-height: 1.1;
    }

    @media (min-width:800px) {
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); 
    }

    @media (max-width:680px) {
       

        &__image {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        
        &__title {
            font-size: 26px;
        }

        &__info {
            font-size: 20px;
        }

        &__content {
            position: relative;
            padding: 2rem 2.5rem; 
        }
    }
}