@import '../../styles/variables';
@import '../../styles/mixins';

.slider-products {
    margin: 4.75rem 0px 6.3rem;
    position: relative;

    &__title-block {
        font-size: 25px;
        font-weight: bold;
        margin: 0px 0px 1.55rem;
    }
    .slick-arrow {
        top: -60px;
        width: 46px;
        height: 46px;
        transform: none;

        &:before {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 1;
            width: 46px;
            height: 46px;
            background-color: $backgroundInputGray;
            background-position: center center;
            background-repeat: no-repeat;
            color: $colorText;
            font-size: 2rem;
            font-weight: bold;
            @include border-radius-xxl;
        }

        &:hover {
            &:before {
                background-color: $colorPlaceholder;
            }
        }
    }
    
    .slick-prev {
        left: 175px;

        &:before {
            background-image: url(../../assets/slider/btn_prev.svg);
        }
    }

    .slick-next {
        left: 230px;

        &:before {
            background-image: url(../../assets/slider/btn_next.svg);
        }
    }

    .live-chat {
        position: absolute;
        right: 0px;
        top: -8px;
    }

    @media (max-width:1000px) {
        & {
            margin: 5rem 0px 4.5rem;
        }
    }

    @media (max-width:640px) {
        & {
            margin: 5rem 0px 3rem;
        }

        .live-chat {
            top: -67px;
        }
    }
    
    @media (max-width:420px) {
        .product__item {
            display: block;
            text-align: center;
        }
    }
}