@charset 'UTF-8';
@import "./styles/variables";
@import "./styles/reset";
@import "./styles/mixins";
@import "Layout/Footer/Footer.scss";

#root {
    max-width: 1440px;
    min-width: 400px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0.75rem 1.5rem 0px;
}

.button-blue {
    background-color: $colorLinkBlue;
    color: $colorTextWhite;
    text-align: center;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;

    &:hover {
        background-color: $colorLinkBlueHover;
    }
    &__small {
        @include border-radius-mid;
        padding: 1rem 2.1rem;
    }
}