.footer {
    &-section {
        background-color: $colorText;
        padding: 2.25rem 1.5rem 0.75rem;
        -webkit-border-top-left-radius: 16px;
        -webkit-border-top-right-radius: 16px;
        -moz-border-radius-topleft: 16px;
        -moz-border-radius-topright: 16px;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        .subscribe-section {
            max-width: 466px;
        }
    }

    &__copyright {
        color: $colorTextGray;
        margin: 1.5rem 0px 0px;
        text-align: center;
    }

    &__menu-title {
        color: $colorTextGray;
        font-size: 1.25rem;
        margin: 0px 0px 1.25rem;
        line-height: 1.2;
    }

    &__menu-sections {
        @include flex-box__row;
        
        justify-content: space-between; 
        
        a {
            color: $colorTextWhite;
        }

        @media (max-width:1024px) {
            flex-wrap: wrap;
            justify-content: center;

            .subscribe-section {
                margin: 2rem 0px 0px
            }
        }
    }

    &__menu-blocks {
        @include flex-box__row;
        justify-content: space-between;
        width: 100%;
        max-width: 730px;

        @media (max-width:640px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media (max-width:420px) {
            flex-wrap: nowrap;
            flex-flow: column;
            align-items: start;
        }
    }

    &__menu-block {
        margin: 0px 1rem 0px;

        &:first-child {
            margin-left: 0px;
        }

        @media (max-width:640px) {
            margin: 0rem 0.5rem 1.5rem;

            &:first-child {
                margin-top: 0px;
            }
        }
        @media (max-width:420px) {
            margin-left: 0px;
        }
    }

    &__menu-list {
        & > li {
            margin-top: 0.25rem;
        }
        
        & > li:first-child {
            margin-top: 0px;
        }
    }

    &__menu-block .phone-section {
        margin: 0.75rem 0px 0px;   
   }
}